---
import heroImage from '../assets/heroImage.svg';
---

<main class="w-full h-screen flex items-center px-28">
  <div class="flex flex-col items-start gap-20">
    <div class="flex flex-col gap-7 w-full max-w-[500px]" >
      <h1 class="text-5xl font-semibold">Samura Harakiri</h1>
      <p class="text-lg">A lightweight and multifunctional universal knife is the most popular tool in the home and professional kitchen, used for cutting small vegetables and fruits, cheese, sausages</p>
    </div>
    <a href="" class="text-base px-10 py-4 bg-slate-50 rounded-md transition-all duration-300 hover:outline hover:outline-gray-400 hover:outline-1" >Buy now</a>
  </div>
</main>

<style>
  main{
    background-image: url('../assets/heroImage.svg');

    scroll-snap-align: start;
  }
</style>